<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar usuários</title>
</head>
<body>
    <h1>Gerenciar usuários</h1>

    <h2>Pesquisar usuário:</h2>
    <form action="/search" method="GET">
        <input name="userId" autofocus>
        <input type="submit" value="Pesquisar">
    </form>

    <h2>Usuários cadastrados:</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th></th>
        </tr>
        <tr>
            <td>user_id</td>
            <td>user_name</td>
            <td>user_cpf</td>
            <td><button onclick="">✏️</button></td>
            <td><button onclick="">🗑️</button></td>
        </tr>
    </table>

</body>
</html>