<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>VGS</title>
</head>
<body>
    <div th:if="${param.error}">
        Usuário ou senha inválidos.
    </div>

    <div th:if="${param.logout}">
        Você foi deslogado.
    </div>

    <h1>Veículos Gerenciados por um Sistema</h1>
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <div><label> ID: <input type="text" name="username"/> </label></div>
        <div><label> Senha: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Entrar"/></div>
    </form>
</body>