<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar Pedidos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
    <form action="/homepage" method="GET"><button type="submit">🏠</button></form>

    <div th:if="${param.iderror}">
        ID do cliente ou do veiculo não encontrado.
    </div>

    <div th:if="${param.vehiclenotavailable}">
        O veiculo selecionado não está disponivel.
    </div>

    <h1>Gerenciar pedidos</h1>

    <h2>Pedidos cadastrados:</h2>
    <table class="modern-table">
        <tr>
            <th>Pedido</th>
            <th>ID Solicitante</th>
            <th>ID Veículo</th>
            <th>Data de Início</th>
            <th>Data de Término</th>
            <th>Valor total</th>
            <th>Ações</th>
        </tr>
        <tr th:each="order : ${orderList}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.renterId}"></td>
            <td th:text="${order.vehicleId}"></td>
            <td th:text="${order.startDate}"></td>
            <td th:text="${order.endDate}"></td>
            <td th:text="${order.total}"></td>
            <td>
                <form th:action="@{/order/delete}" method="post">
                    <input type="hidden" name="idDelete" th:value="${order.id}" />
                    <button type="submit">Excluir</button>
                </form>
            </td>
        </tr>

        <h2>Cadastrar pedido:</h2>

        <form th:action="@{/order}" th:object="${order}" method="post">
            <p>ID do Solicitante: <input type="text" th:field="*{renterId}"></p>
            <p>ID do Veiculo: <input type="text" th:field="*{vehicleId}"></p>
            <p>Data Inicio: <input type="date" th:field="*{startDate}"></p>
            <p>Data Termino: <input type="date" th:field="*{endDate}"></p>
            <input type="submit" value="Cadastrar">
        </form>
    </table>


</body>
</html>