<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Gerenciar usuários</title>
</head>
<body>
    <h1>Gerenciar usuários</h1>

    <h2>Cadastrar usuário:</h2>

    <form th:action="@{/user}" th:object="${user}" method="post">
        <p>Nome: <input type="text" th:field="*{nome}"></p>
        <p>CPF: <input type="text" th:field="*{cpf}"></p>
        <p>RG: <input type="text" th:field="*{rg}"></p>
        <p>Endereço: <input type="text" th:field="*{endereco}"></p>
        <input type="submit" value="Cadastrar">
    </form>

<!--    <h2>Pesquisar usuário:</h2>-->

<!--    <form th:action="@{/user}" th:object="${user}" method="update">-->
<!--        <p>CPF: <input type="text" th:field="*{cpf}"></p>-->
<!--        <input type="submit" value="Excluir">-->
<!--    </form>-->

    <h2>Excluir usuário:</h2>

    <form th:action="@{/user/delete}" method="post">
        <p>CPF: <input type="text" name="cpfDelete"></p>
        <input type="submit" value="Excluir">
    </form>

    <h2>Usuários cadastrados:</h2>
    <table>
        <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>RG</th>
            <th>Endereco</th>
        </tr>
        <tr th:each="u : ${userList}">
            <td th:text="${u.cpf}"></td>
            <td th:text="${u.nome}"></td>
            <td th:text="${u.rg}"></td>
            <td th:text="${u.endereco}"></td>
        </tr>
    </table>

</body>
</html>